@model IEnumerable<DataLayer.Models.Promotions>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center panel-heading">L'ensemble de nos promotions en cours</h2>


<table class="table col-md-12 sansBordure">
    <thead>
        <tr class="alert-info">
            <th>Hôtels-Catégories</th>
            <th>Destination</th>
            <th>Début de l'offre</th>
            <th>Fin de l'offre</th>
            <th>Réduction</th>
            <th></th>

        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr onclick="document.location='/Hotel/Details/@item.IdHotel/@item.DateDebut.ToString("yyyy-MM-dd")/@item.DateFin.ToString("yyyy-MM-dd")'" class="link-tr">
                <td class="col-md-3">
                    @item.Hotels.Nom - @item.Hotels.Categorie*                    
                </td>
                <td class="col-md-2">
                    @item.Hotels.Villes.name
                </td>

                <td class="col-md-2 colp-date">
                    @item.DateDebut.ToString("dd-MM-yy")
                </td>
                <td class="col-md-2 colp-date">
                    @item.DateFin.ToString("dd-MM-yy")
                </td>
                <td class="col-md-1 colp-prix promo-highlight">
                    <a href="/Hotel/Details/@item.IdHotel/@item.DateDebut.ToString("yyyy-MM-dd")/@item.DateFin.ToString("yyyy-MM-dd")">
                        @item.Valeur%
                    </a>
                </td>
                <td class="col-md-2"> <img class="img-responsive" src="~/Areas/Admin/Uploads/@item.Hotels.Photo" /> </td>



            </tr>
        }

    </tbody>

</table>
