@model Tuple<List<DataLayer.Models.Promotions>, int>
@using DataLayer.Models


<div class="sansBordure panel panel-info ">

    <div class="panel-heading">
        <a href="~/Promotions/Index"><h4>Nos meilleures promotions en cours</h4></a>
    </div>
    <div class="panel-body">

        @foreach (var prod in Model.Item1)
        {

            <a href="~/Hotel/Details/@prod.IdHotel/@prod.DateDebut.ToString("yyyy-MM-dd")/@prod.DateFin.ToString("yyyy-MM-dd")">
                <div class="btn-info btn-sm">@prod.Hotels.Nom: @prod.Valeur%</div>
            </a>
            <div>@prod.Hotels.Villes.name - @prod.Hotels.Villes.Pays.Name</div>

            <div><strong>Validité:</strong> @prod.DateFin.ToString("dd-MM")</div>
            <br/>

        }
    </div>

</div>

