
<fieldset>
    <legend class="line-info text-center">Informations du séjour</legend>

    <div class="row">
        @*Période du séjour*@
        <div class="form-group col-sm-6">
            <label for="DateDepart">Date de départ autour du :</label>
            <input id="DateDepart" class="form-control" name="DateDepart" value="@Model.DateDepart.ToString(" mm/dd/yyyy")" />
            @if (Model.DateIndifferente == null)
            {
                <input type="checkbox" name="DateIndifferente" value="1" checked="checked" />
                <label for="1" class="">Indifférente</label>
            }
            else
            {
                <input type="checkbox" name="DateIndifferente" value="1" />
                <label for="1" class="">Indifférente</label>
            }
        </div>
        <div class="form-group col-sm-6">
            <label for="Duree">Durée du séjour (jours)</label>
            <input type="text" id="DureeMini" class="form-control" name="DureeMini" placeholder="Durée minimum" value="@Model.DureeMini"/>
            <input type="text" id="DureeMaxi" class="form-control" name="DureeMaxi" placeholder="Durée maximum" value="@Model.DureeMaxi" />
        </div>
    </div>

    <div class="row">
        @*Prix
            // TODO revoir gestion Prix*@
        @*<input type="hidden" id="prixMaxSlider" value="@ViewBag.PrixMaxSlider" />*@
        <div class="form-group col-sm-6">
            <label>Tranche de prix</label>
            <input type="text" id="PrixMini" name="PrixMini" class="form-control" placeholder="Prix minimum" value="@Model.PrixMini" />
            <input type="text" id="PrixMaxi" name="PrixMaxi" class="form-control" placeholder="Prix maximum" value="@Model.PrixMaxi" />
            @*<div id="Prix" class="col-sm-12"></div>*@
        </div>

        @*Nombre de personnes*@
        <div class="form-group col-sm-6">
            <label>Nombre de personnes</label>
            <select name="NbPers" id="NbPers" class="form-control">
                @for (int i = 1; i <= Model.DisponibiliteMax; i++)
                {
                    <option value="@i">@i</option>
                }
            </select>
        </div>

    </div>



</fieldset>

