@model Form115.Models.SearchViewModel

@{
    ViewBag.Title = "Index";
}

@section scripts{
    <script src="~/Scripts/DatePicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Scripts/Search/Index.js"></script>
}
@section styles{
    <link href="~/Scripts/DatePicker/css/bootstrap-datepicker.standalone.min.css" rel="stylesheet" />
}

<h2>Recherche</h2>

@using (Html.BeginForm("Result", "Search", FormMethod.Post, new { @class = "specific-form" })) // , new { svm = Model, page = 1}
{

    <div class="form-group col-sm-3">
        <fieldset>
            <legend class="line-info text-center">Destination</legend>
            @*Continent, Pays, Région, Ville*@
            <label for="listeContinents">Continent :</label>
            <select class="form-control" id="listeContinents" name="Continent">
                <option value="0">Sélectionnez un continent</option>
                @foreach (var continent in Model.ListeContinents)
                {
                    <option value="@continent.Key">@continent.Value</option>
                }
            </select>

            <label class="control-label" for="listeRegions">Région : </label>
            <select class="form-control" id="listeRegions" name="Region" disabled>
                <option value="0">Sélectionnez une région</option>
            </select>

            <label class="control-label" for="listePays">Pays : </label>
            <select class="form-control" id="listePays" name="Pays" disabled>
                <option value="0">Sélectionnez un pays</option>
            </select>

            <label class="control-label" for="listeVilles">Ville : </label>
            <select class="form-control" id="listeVilles" name="Ville" disabled>
                <option value="0">Sélectionnez une ville</option>
            </select>


            @*</div>*@
            @*<input type="checkbox" id="carbu1" name="Carburant" value="1"/>Essence
                <input type="checkbox" id="carbu2" name="Carburant" value="1" />Diesel*@



        </fieldset>
    </div>

    <div class=" form-group col-sm-2">
        <fieldset>
            <legend class="line-info text-center">Hôtel</legend>
            @*Catégorie de l'hôtel*@
            <div class="form-group col-sm-12">
                <label>Catégorie</label>
                @foreach (var c in Model.ListeCategories)
                {
                    <span class="form-group col-sm-10 text-nowrap">
                        <input type="checkbox" name="Categorie" value="@c.Key" />
                        @*Description à modifier en BDD pour utiliser plutôt @c.Value*@
                        <label for="@c.Key" class="">@c.Key*</label>
                    </span>
                }
            </div>

        </fieldset>
    </div>

    <div class="form-group col-sm-7">
        @Html.Partial("_SearchCommonOptionsPartialView")
    </div>

    @*<div class="form-group col-sm-5">*@
        <button type="submit" class="btn-info btn-lg" id="SearchBtn">Rechercher <span class="glyphicon glyphicon-plane"></span></button>
    @*</div>*@



}

