@using DataLayer.Models
@using Microsoft.AspNet.Identity;
@model Tuple<int, Produits>
@{
    ViewBag.Title = "Reserver";
}


@using (Html.BeginForm("ConfirmerReservation","Reservations"))
    {
    @Html.AntiForgeryToken()


<h2>Réservation</h2>

<div class="form-group col-sm-10 ">
  
    <h4>Vous êtes sur le point de réserver le produit suivant:</h4>
    <h3 class="text-center">@Model.Item2.Sejours.Hotels.Nom</h3>
    <hr />
    <dl class="dl-horizontal col-sm-12">
        
        <dt>
            Destination
        </dt>

        <dd>
            @Model.Item2.Sejours.Hotels.Villes.name - @Model.Item2.Sejours.Hotels.Villes.Pays.Name
        </dd>
        <dt>
            Catégorie
        </dt>

        <dd>
            @Model.Item2.Sejours.Hotels.Categories.IdCategorie*
        </dd>

        <dt>
            Nombre de personnes participant au voyage:
        </dt>

        <dd>
            @Model.Item1 personne(s)
        </dd>
                
    </dl>
   <input type="hidden" name="Quantity" value="@Model.Item1"/>
    <input type="hidden" name="IdProduit" value="@Model.Item2.IdProduit" />
    <input type="hidden" name="IdUtilisateur" value="@User.Identity.GetUserId()" />
    

        <div>
            <input type="submit" value="Je confirme" class="btn-info btn-lg" /> |
            @Html.ActionLink("Retour aux résultats", "Details", "Hotel", new { id = @Model.Item2.Sejours.IdHotel }, null)
        </div>
   

    

</div>

}